@import "tailwindcss";

@custom-variant dark (&:is(.dark *));
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --sidebar-border: 240 5.9% 90%; 
  }
  .dark {
    --sidebar-border: 240 3.7% 15.9%; 
  }
}

@theme {
  
  --color-primaryBackground: #14171B;
  --color-primaryBackgroundinput: #D9D9D9;
  --color-primaryPurpleHover: #6f56f5;
  --color-primaryPurple: #9D8DF1;
  --color-primaryBlueHover: #6A8FE8;
  --color-primaryBlue: #B8CDF8;
  --color-primaryGreenHover: #5F8A57;
  --color-primaryGreen: #8FAD88;
  --color-primaryPinkHover: #E56AAE;
  --color-primaryPink: #F5A8D0;
  --color-primaryOrangeHover: #FF6900;
  --color-primaryOrange: #D15600;
  --color-primaryRedHover: #D94545;
  --color-primaryRed: #F06767;
  --color-primaryYellowHover: #E0C94F;
  --color-primaryYellow: #F6E58D;
  --color-primaryCyanHover: #81D8D0;
  --color-primaryCyan: #81D8D0;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ring: var(--ring);
  --color-border: rgba(255, 255, 255, 0.2);
  --color-muted-foreground: var(--muted-foreground);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: rgba(255, 255, 255, 0.2);
  --color-sidebar-icon: var(--sidebar-icon);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-gray-default: var(--gray-default);
}

:root {
  --gray-default : hsl(00 0% 60%);
  --card: oklch(1 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --border: #14171B;
  --input: oklch(0.922 0 0);
  --sidebar: #14171B;
  --sidebar-foreground: hsl(00 0% 60%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
  --sidebar-border: rgba(255, 255, 255, 0.2);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: rgba(255, 255, 255, 0.2);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}


input::-ms-reveal {
  display: none;
}

input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute; 
  right: 0;
}